*.class
*.log

# sbt specific
.bloop/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# VSCode
.vscode

# Metal on VSCode
.metals/
metals.sbt